html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

#topPanel {
    width: 100%;
    height: 50%;
    background-color: rgb(65, 68, 82);
}

#canvas {
    width:100%;
    height:100%;
}

#bottomPanel {
    width: 100%;
    height: 50%;
    background-color: rgb(16, 167, 255);
    display: flex;
    align-items: stretch; //You can make a custom order (123 --> 132), they can reverse, they can go vertical, they can stretch and squash and squish and  f l e x,  and it's easy to change any of those properties for mobile/smolscreens and I believe they're all animateable as well
}

#bottomPanel > div {
    flex-grow: 1;
}

#code {
    resize: none;
    font: 12px monospace, sans-serif;
    /*font-color: lawngreen;*/
    color: lawngreen;
    border: 0px solid black;
    background-color: rgb(22, 24, 24);
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}